// @todo This file (and others) really should make much better use of variables.
// See sprites partial for sprite assignment
.btn {
  height: icons-sprite-height(control-mute);
  width: icons-sprite-width(control-mute);
  overflow: hidden;
  white-space: nowrap;
  background: $white none;
  border: 0 none;
  padding: 0 2px;
  @include box-sizing(content-box);
}

.glyphicon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.controls {
  text-align: center;
  @include fake-element();
  &:before {
    background-color: $base-red;
    height: 1px;
    top: 50%;
    z-index: -1;
  }
  .separator {
    margin-right: $indent-amount;
  }

}

.mark-controls {
  display: inline-block;
}

mark {
  // @todo Is all this !important stuff really so important??
  background: url("/sites/all/themes/silencio/images/icons/comment.png") !important;
  cursor: pointer;
  height: 15px !important;
  margin-top: 0px;
  padding: 5px;
  width: 15px !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-size: cover !important;
}

#waveform {
  border-top: 2px solid $base-red;
  padding-top: 4px;
}

.node-type-track {
  h1 {
    text-transform: uppercase;
    font-size: 1.3em;
    color: $base-red;
  }
  .field-name-field-book {
    display: none;
  }
}

.node-type-track h1 div {
  display: inline;
  color: #CCC;
}

.comment.odd {
  background: url(/sites/all/themes/silencio/images/icons/comment.png) no-repeat #f4f4f4;
  background-position: 5px 40%;
  background-size: 30px;
}

.comment {
  background: url("/sites/all/themes/silencio/images/icons/comment.png") no-repeat scroll 5px 41% / 30px auto rgba(0, 0, 0, 0);
  border-bottom: 2px solid $base-red;
  color: black;
  margin: 0;
  min-height: 100px;
  padding: 0 7px 0 4%;
  width: 50%;
  border-left: 10px solid $base-red;
}

.comment .links {
  position: relative;
  left: 63%;
  top: 50%;
}

.comment .links a {
  display: inline-block;
  background: $base-red;
  padding: 4px;
  color: white;
  text-transform: uppercase;
  width: 50px;
  text-align: center;
  vertical-align: bottom;
}

.comment .field-name-comment-body {
  padding-top: 25px;
}

#comments form {
  padding: 10px;
  max-width: 50%;
  border-left: 10px solid $base-red;
  border-bottom: 2px solid $base-red;
  color: black;
}